.producto-container {
  width: 300px;
  background-color: rgb(30, 30, 30);
  border-radius: 5px;
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.producto-container span {
  color: white;
}

.btn {
  width: 70px;
  color: white;
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.btn-r {
  background-color: rgb(179, 37, 37);
}

.btn-g {
  background-color: rgb(62, 155, 33);
}